<?php

$config = [
    'components' => [
        'request' => [
            'cookieValidationKey' => 'o596cbdbcef7y14b897dd709fee65893d7e50604pf168dae0616i4afcu80a1'
        ],
        'log' => [
           'traceLevel' => YII_DEBUG ? 3 : 0,
           'targets' => [
                [
                    'class' => 'yii\log\FileTarget',
                    'levels' => ['error', 'warning'],
                ],
           ],
        ],
    ],
];

return $config;
