# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
build.composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# local configs
/backend/config/main-local.php
/backend/config/params-local.php
/backend/config/test-local.php
/common/config/main-local.php
/common/config/params-local.php
/common/config/test-local.php
/console/config/main-local.php
/console/config/params-local.php
/frontend/config/main-local.php
/frontend/config/params-local.php
/frontend/config/test-local.php
mfd.ini
prime-config.php

# entry points
*/web/index.php
*/web/index-test.php

# MySQL Workbench backups
console/migrations/data/*.mwb.bak
