<?php

return [
    'bootstrap' => ['gii'],
        'modules' => [
        'gii' => 'yii\gii\plus\Module',
    ],
    'log' => [
        'targets' => [
            [
                'class' => 'yii\log\FileTarget',
                'levels' => ['error', 'warning'],
                'logFile' => '/var/log/algorithm/algorithm-console.log'
            ],
        ]
    ]
];
