<?php

$config = [
    'components' => [
        'request' => [
            'cookieValidationKey' => 'f6h00eb807d5fa1e1b7f4d589db515ft76f6ccdf13eerf4b7360c9d944710a6b'
        ],
        'mailer' => [
            'viewPath' => '@backend/mail',
        ],
        'log' => [
           'traceLevel' => YII_DEBUG ? 3 : 0,
           'targets' => [
                [
                    'class' => 'yii\log\FileTarget',
                    'levels' => ['error', 'warning'],
                ],
           ],
        ],
    ],
];

return $config;
