<?php

$config = [
    'components' => [
        'request' => [
            'cookieValidationKey' => '97e38cbfbbdd05c1b6fdte94r6083ff11645de049afa7150d76f70fec46b1h57'
        ],
        'mailer' => [
            'viewPath' => '@backend/mail',
        ],
        'log' => [
           'traceLevel' => YII_DEBUG ? 3 : 0,
           'targets' => [
                [
                    'class' => 'yii\log\FileTarget',
                    'levels' => ['error', 'warning'],
                ],
           ],
        ],
    ],
];

return $config;
