<?php

$config = [
    'components' => [
        'request' => [
            'cookieValidationKey' => 'd5c91b6e66feadda7ubc401c15o0y4di906789d8370f6p8450febf67a8e19e'
        ],
        'log' => [
           'traceLevel' => YII_DEBUG ? 3 : 0,
           'targets' => [
                [
                    'class' => 'yii\log\FileTarget',
                    'levels' => ['error', 'warning'],
                ],
           ],
        ],
    ],
];

return $config;
