<?php
return [
    'components' => [
        'db' => [
            'dsn' => 'mysql:host=localhost;dbname='${dbTest.database}',
            'username' => '${dbTest.user}',
            'password' => '${dbTest.password}'
        ]
    ],
];
