<?php

$config = [
    'components' => [
        'request' => [
            'cookieValidationKey' => 'feb74eab9e67b40dr5963dcfhf46d9b767t1f0d5e7a183fd04610f551fcb0c18'
        ],
        'mailer' => [
            'viewPath' => '@backend/mail',
        ],
        'log' => [
           'traceLevel' => YII_DEBUG ? 3 : 0,
           'targets' => [
                [
                    'class' => 'yii\log\FileTarget',
                    'levels' => ['error', 'warning'],
                ],
           ],
        ],
    ],
];

return $config;
