<?php

$config = [
    'components' => [
        'request' => [
            'cookieValidationKey' => 'fh1a4e69f74rdc05960edd0fc145a8bf468t131bf6f7b65b59be0dc301777fed'
        ],
        'mailer' => [
            'viewPath' => '@backend/mail',
        ],
        'log' => [
           'traceLevel' => YII_DEBUG ? 3 : 0,
           'targets' => [
                [
                    'class' => 'yii\log\FileTarget',
                    'levels' => ['error', 'warning'],
                ],
           ],
        ],
    ],
];

return $config;
